In [1]:
pip install requests

Requirement already satisfied: requests in c:\users\christian\appdata\local\pypoetry\cache\virtualenvs\data-science-project-ziygbzbm-py3.11\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\christian\appdata\local\pypoetry\cache\virtualenvs\data-science-project-ziygbzbm-py3.11\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\christian\appdata\local\pypoetry\cache\virtualenvs\data-science-project-ziygbzbm-py3.11\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\christian\appdata\local\pypoetry\cache\virtualenvs\data-science-project-ziygbzbm-py3.11\lib\site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\christian\appdata\local\pypoetry\cache\virtualenvs\data-science-project-ziygbzbm-py3.11\lib\site-packages (from requests) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests # library for making HTTP requests
import pandas as pd # library for data analysis
import datetime as dt # library for handling date and time objects

In [18]:
my_dict = {}

with open(r"/Users/Christian/Documents/Cand. merc/Data-Science-Project/Data-Science-Project/data_science_project/.env_flight", "r") as f:
    for line in f:
        key, val = line.split('=')
        my_dict[key.strip()] = val.strip()

In [19]:
headers = my_dict
print(headers)

{'X-Access-Token': 'c33be7fb8b49d500e631d7143c8ef4bf', 'X-RapidAPI-Key': 'c795ba9581msh07d0178516af21bp1d788bjsnd4de235dbca6', 'X-RapidAPI-Host': 'travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com'}

In [57]:
url = "https://travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com/v2/prices/latest"

querystring = {"destination":"FCO","origin":"BLL","period_type":"year","one_way":" back-to-back","trip_class":"0","currency":"EUR","page":"1","sorting":"price","limit":"3"}

r = requests.get(url, headers=headers, params=querystring) # Issues a HTTP GET request
r.url # `requests` help us encode the URL in the correct format

print(r.json())

{'currency': 'eur', 'error': '', 'data': [{'depart_date': '2025-04-01', 'origin': 'BLL', 'destination': 'ROM', 'gate': '', 'return_date': '2025-04-14', 'found_at': '2024-05-05T19:29:13', 'trip_class': 0, 'value': 237, 'number_of_changes': 1, 'duration': 1895, 'distance': 1567, 'show_to_affiliates': True, 'actual': True}, {'depart_date': '2024-05-25', 'origin': 'BLL', 'destination': 'ROM', 'gate': '', 'return_date': '2024-05-28', 'found_at': '2024-05-04T06:42:50', 'trip_class': 0, 'value': 240, 'number_of_changes': 1, 'duration': 2820, 'distance': 1567, 'show_to_affiliates': True, 'actual': True}, {'depart_date': '2024-12-29', 'origin': 'BLL', 'destination': 'ROM', 'gate': '', 'return_date': '2025-01-06', 'found_at': '2024-05-05T18:08:30', 'trip_class': 0, 'value': 248, 'number_of_changes': 1, 'duration': 2205, 'distance': 1567, 'show_to_affiliates': True, 'actual': True}], 'success': True}

In [58]:
r.status_code # 200 means success

200

In [59]:
flight = r.json()
flight

{'currency': 'eur',
 'error': '',
 'data': [{'depart_date': '2025-04-01',
   'origin': 'BLL',
   'destination': 'ROM',
   'gate': '',
   'return_date': '2025-04-14',
   'found_at': '2024-05-05T19:29:13',
   'trip_class': 0,
   'value': 237,
   'number_of_changes': 1,
   'duration': 1895,
   'distance': 1567,
   'show_to_affiliates': True,
   'actual': True},
  {'depart_date': '2024-05-25',
   'origin': 'BLL',
   'destination': 'ROM',
   'gate': '',
   'return_date': '2024-05-28',
   'found_at': '2024-05-04T06:42:50',
   'trip_class': 0,
   'value': 240,
   'number_of_changes': 1,
   'duration': 2820,
   'distance': 1567,
   'show_to_affiliates': True,
   'actual': True},
  {'depart_date': '2024-12-29',
   'origin': 'BLL',
   'destination': 'ROM',
   'gate': '',
   'return_date': '2025-01-06',
   'found_at': '2024-05-05T18:08:30',
   'trip_class': 0,
   'value': 248,
   'number_of_changes': 1,
   'duration': 2205,
   'distance': 1567,
   'show_to_affiliates': True,
   'actual': True}],
 'success': True}

In [60]:
flight_labels = flight['data']
print(flight_labels)

[{'depart_date': '2025-04-01', 'origin': 'BLL', 'destination': 'ROM', 'gate': '', 'return_date': '2025-04-14', 'found_at': '2024-05-05T19:29:13', 'trip_class': 0, 'value': 237, 'number_of_changes': 1, 'duration': 1895, 'distance': 1567, 'show_to_affiliates': True, 'actual': True}, {'depart_date': '2024-05-25', 'origin': 'BLL', 'destination': 'ROM', 'gate': '', 'return_date': '2024-05-28', 'found_at': '2024-05-04T06:42:50', 'trip_class': 0, 'value': 240, 'number_of_changes': 1, 'duration': 2820, 'distance': 1567, 'show_to_affiliates': True, 'actual': True}, {'depart_date': '2024-12-29', 'origin': 'BLL', 'destination': 'ROM', 'gate': '', 'return_date': '2025-01-06', 'found_at': '2024-05-05T18:08:30', 'trip_class': 0, 'value': 248, 'number_of_changes': 1, 'duration': 2205, 'distance': 1567, 'show_to_affiliates': True, 'actual': True}]

In [61]:
for labels in flight_labels:
    for key, value in labels.items():
        print(key,value)

depart_date 2025-04-01
origin BLL
destination ROM
gate
return_date 2025-04-14
found_at 2024-05-05T19:29:13
trip_class 0
value 237
number_of_changes 1
duration 1895
distance 1567
show_to_affiliates True
actual True
depart_date 2024-05-25
origin BLL
destination ROM
gate
return_date 2024-05-28
found_at 2024-05-04T06:42:50
trip_class 0
value 240
number_of_changes 1
duration 2820
distance 1567
show_to_affiliates True
actual True
depart_date 2024-12-29
origin BLL
destination ROM
gate
return_date 2025-01-06
found_at 2024-05-05T18:08:30
trip_class 0
value 248
number_of_changes 1
duration 2205
distance 1567
show_to_affiliates True
actual True

In [62]:
import pandas as pd

In [63]:
lst = []
for values in flight_labels:
    lst.append(pd.DataFrame.from_dict(values, orient='index').transpose())

In [64]:
df = pd.concat(lst).reset_index()

In [65]:
df

,index,depart_date,origin,destination,gate,return_date,found_at,trip_class,value,number_of_changes,duration,distance,show_to_affiliates,actual
0,0,2025-04-01,BLL,ROM,,2025-04-14,2024-05-05T19:29:13,0,237,1,1895,1567,True,True
1,0,2024-05-25,BLL,ROM,,2024-05-28,2024-05-04T06:42:50,0,240,1,2820,1567,True,True
2,0,2024-12-29,BLL,ROM,,2025-01-06,2024-05-05T18:08:30,0,248,1,2205,1567,True,True

In [45]:
# Assuming your DataFrame is named flight_data
# Replace 'flight_data.csv' with the desired file name
df.to_csv('flight_data_BLL_FCO.csv', index=False)

In [76]:
def extract_flight_data(origin, destination, period_type='year', one_way='true', trip_class='0', currency='EUR', limit=3):
    url = "https://travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com/v2/prices/latest"
    querystring = {
        "destination": destination,
        "origin": origin,
        "period_type": period_type,
        "one_way": one_way,
        "trip_class": trip_class,
        "currency": currency,
        "limit": limit
    }

    try:
        response = requests.get(url, headers=headers, params=querystring)
        response.raise_for_status()  # Raise an exception for bad response status
        flight_data = response.json()  # Convert JSON response to Python dictionary
        # Convert the flight data to DataFrame
        df = pd.DataFrame(flight_data['data'])
        return df
    except requests.exceptions.RequestException as e:
        print("Error fetching data:", e)
        return None

# Example usage:
flight_df = extract_flight_data(origin="BLL", destination="FCO")
print(flight_df.head())  # Display first few rows of the DataFrame

  depart_date origin destination gate return_date             found_at  \
0  2024-10-01    BLL         ROM                   2024-05-04T00:04:06
1  2024-08-14    BLL         ROM                   2024-05-06T01:36:05
2  2024-07-31    BLL         ROM                   2024-05-04T22:09:22

   trip_class  value  number_of_changes  duration  distance  \
0           0     85                  1      1075      1567
1           0     85                  1      1075      1567
2           0     88                  1       935      1567

   show_to_affiliates  actual
0                True    True
1                True    True
2                True    True

In [50]:
flight_df = extract_flight_data(origin="BLL", destination="JFK", df=flight_df)
print(flight_df.head())

  depart_date origin destination gate return_date             found_at  \
0  2024-06-05    BLL         NYC       2024-06-12  2024-05-05T19:47:53
1  2024-06-06    BLL         NYC       2024-06-12  2024-05-04T21:18:42
2  2024-11-03    BLL         NYC       2024-11-17  2024-05-04T11:59:21
3  2024-06-06    BLL         NYC       2024-06-13  2024-05-04T13:56:59
4  2024-06-21    BLL         NYC       2024-06-24  2024-05-04T05:31:49

   trip_class  value  number_of_changes  duration  distance  \
0           0    365                  1      2160      5979
1           0    365                  1      2160      5979
2           0    366                  1      1700      5979
3           0    366                  1      2135      5979
4           0    366                  1      1870      5979

   show_to_affiliates  actual
0                True    True
1                True    True
2                True    True
3                True    True
4                True    True

In [51]:
print(flight_df)

  depart_date origin destination gate return_date             found_at  \
0  2024-06-05    BLL         NYC       2024-06-12  2024-05-05T19:47:53
1  2024-06-06    BLL         NYC       2024-06-12  2024-05-04T21:18:42
2  2024-11-03    BLL         NYC       2024-11-17  2024-05-04T11:59:21
3  2024-06-06    BLL         NYC       2024-06-13  2024-05-04T13:56:59
4  2024-06-21    BLL         NYC       2024-06-24  2024-05-04T05:31:49

   trip_class  value  number_of_changes  duration  distance  \
0           0    365                  1      2160      5979
1           0    365                  1      2160      5979
2           0    366                  1      1700      5979
3           0    366                  1      2135      5979
4           0    366                  1      1870      5979

   show_to_affiliates  actual
0                True    True
1                True    True
2                True    True
3                True    True
4                True    True